* {
    text-align: left;
}

h1 {
    background-color: orange;
}

h3 {
    color: blue;
}

form {
    background-color: orange;
    padding-left: 50px;
}

form button {
    padding: 5px 25px;
    margin: 25px;
}