<main class="bg-dark" ng-app="contactApp">
    <h1>How you can contact us</h1>

    <form>
        Full Name <br>
        <input type="text" id="name" ng-model="name"> <br>
        Your Email <br>
        <input type="email" id="email" ng-model="email"> <br>
        Tel. Number <br>
        <input type="number" id="telNumber" ng-model="telNumber">
        <br>
    </form>

    <p>Your name is: {{name}}</p>
    <p>Your email is: {{email}}</p>
    <p>Your Tel. Number is: {{telNumber}}</p>

</main>