footer {
    background-color: #636363;
    margin-top: 15px;
    padding: 15px;
}   

footer > p > a:hover {
    background-color: aquamarine;
    padding: 5px;
    border: 2px solid red;
    border-radius: 10%;
}